*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#home{
  scroll-margin-top: 70px; 
}
#me{
  scroll-margin-top: 150px;  
}
#skills {
  scroll-margin-top: 100px;  
}
#projects{
  scroll-margin-top: 160px; 
}
#contact{
  scroll-margin-top: 80px; 
}
#Experiences{
  scroll-padding-bottom: 200px ;
  scroll-margin: 100px;
}
#Languages{
  scroll-margin-top: 100px;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(240, 239, 239);
  color:  rgb(8, 8, 8); 
}
a{
  text-decoration: none;
  color: white;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* Navbar */
nav{
  position: relative;
  display: flex;
  padding: 0 20px;
  justify-content:last baseline;
  height: 80px;
  align-items:center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(45px);
  background-color: rgb(240, 239, 239);
}
nav h1{
  margin-right: 130px;
}
nav .links{
  text-align: center; 
}
nav .links :hover{
  color:rgb(38, 165, 244) 
}
nav a{
  color: var(--text-color);
  margin: 0 8px;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* hero-Section */
.hero-section{
  display: flex;
  height: 100%;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 150px;
}
.hero-section .headshot{
  width: 80%;
  margin-left: 100px;
  animation: fading-hero 1s ease-in;
}
@keyframes fading-hero {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}
.headshot img{
  width: 600px;
  
}
.right-hero{
  padding-top: 100px;
  width: 50%;
  margin-right: 100px;
  animation: fading-hero 1s ease-in-out;
}
@keyframes fading-hero {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.right-hero p{
  padding-bottom: 10px;
}
.Contribute {
  background-color: rgb(29, 161, 242); 
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(240, 239, 239);
   animation: blink 1s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 0.7;
  }
  50%{
    opacity: 1;
  }
}
.Contribute a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
}
.arrow-box {
  background-color: rgba(255, 255, 255, 0.3); 
  padding: 6px 10px;
  border-radius: 12px;
  display: flex;
  align-items: right;
  justify-content: center;
}
.Contribute a{
  color: white;
}
.Contribute:hover{
  border: 2px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
  cursor: pointer;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* About me-Section*/
.about-section {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 150px;
  text-align: center;
}
.about-section .group {
  display: flex;               
  justify-content: center;    
  align-items: center;       
  gap: 40px;                  
  flex-wrap: wrap;          
}
.about-section .text {
  flex: 2;
  min-width: 350px;
  max-width: 700px;
  order: 1;
  animation: fading 2s linear;
}
@keyframes fading {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.about-section .image {
  flex: 1;
  display: flex;
  justify-content: center;
  order: 2;
  animation: slide 1s ease-in-out;
}

@keyframes slide {
  from{
    transform: translateX(500px);
  }
}
.about-section img {
  width: 270px;
  border-radius: 150px;     
}
.about-section h2{
  padding: 0 35px; 
}
.about-section p{
  padding: 10px 55px;
  text-align: justify;
}
.about-section .CV{
  margin-top: 10px;
  font-size: medium;
  color: gray;
  text-decoration: underline;
  gap: 10px;
}
.CV:hover{
  color: rgb(29, 161, 242);
}
/* --------------------------------------------------------------------------------------------------------------- */
/* skills-Section */
.skills-section{
  margin-bottom: 150px;
  text-align: center;
}
.skills-section .group {
  display: block;
  justify-content: center;
  align-items: center;
}
.skills-section .cells {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;  
  margin-top: 10px;
}
.skills-section h2{
  text-align: center;
  padding-bottom: 10px;
}
.skills-section .cells .cell{
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
  width: 100px;
  animation: popping 3s ease 0.2s;
}
.skills-section .cells .cell:nth-child(1) { animation-delay: 0.1s; }
.skills-section .cells .cell:nth-child(2) { animation-delay: 0.3s; }
.skills-section .cells .cell:nth-child(3) { animation-delay: 0.5s; }
.skills-section .cells .cell:nth-child(4) { animation-delay: 0.7s; }
.skills-section .cells .cell:nth-child(5) { animation-delay: 0.9s; }
.skills-section .cells .cell:nth-child(6) { animation-delay: 1.1s; }
.skills-section .cells .cell:nth-child(7) { animation-delay: 1.3s; }
@keyframes popping {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.skills-section .cells .cell img{
  width: 50px;
  height:50px;
  object-fit: contain;
  margin-bottom: 5px;
}
.skills-section .cells .cell span{
  display: block;
  align-items: center;
  font-size: 18px;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* Experiences-Section */
.Experiences-section .Experiences-container{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  margin: 0 50px;
  gap: 50px;
  margin-bottom: 130px;
}
.Experiences-section h1{
  text-align: center;
  padding-bottom: 50px;
}
.Experiences-section .Experiences-container .Experiences-div h2{
  text-align: center;
  padding-bottom: 10px;
}
.Experiences-section p{
  color: rgb(26, 115, 232);
}
.Experiences-section span{
  font-family: 'Poppins', sans-serif;
}
.Experiences-div{
  justify-content: center;
  align-items: center;
  text-align: left;
  flex: 2;
}
.Experiences-section .BA-degree {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  padding: 20px;
  border: 2px solid rgb(214, 212, 212);
  border-radius: 5px ;
  transition: all 0.4s;
  margin-bottom: 50px;
  animation: 1s jumpingout ease-out;
}
@keyframes jumpingout {
  0%{
    transform: translateY(200px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.Experiences-section .BA-degree:hover {
  border: 2px solid rgb(197, 195, 195);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.Experiences-section .text-education {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Experiences-section .image-education img {
  width: 142px;
  height: 100px;
  display: block;
  object-fit: contain;
}  
/* --------------------------------------------------------------------------------------------------------------- */
/* Project-Section */
.projects-section .project-container {
  padding: 0 50px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.project-header{
  text-align: center;
  margin-bottom: 40px;
}

.projects-section .project {
  position: relative;
  border: 2px solid rgb(194, 193, 193);
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  transition: box-shadow 0.3s ease;
  perspective: 1000px;
  height: 510px;
  width: 100%;
  max-width: 500px;
  margin: auto;
   transform: translateZ(0);
}

.projects-section .project:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  position: relative; 
  will-change: transform;
}

.card-inner:hover {
  transform: rotateY(180deg);
}

.front{
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  backface-visibility: hidden;
  position: absolute; 
  top: 0;
  left: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  backface-visibility: hidden;
  position: absolute; 
  transition: opacity 0.6s ease, transform 0.6s ease;
  justify-items: center;
  align-items: center;
  text-align: justify;
  transform: rotateY(180deg);
}
.project-image {
  width: 100%;
  height: 219px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-image img {
  object-fit: contain;
  display: block;
  image-rendering: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transform: translateZ(0);
}
.text {
  padding: 20px;
  text-align: center;
}

.projects-section .project .intro {
  margin-bottom: 10px;
  text-align: left;
}

.projects-section .project h2 {
  margin: 10px 0;
}

.projects-section .project button {
  width: 170px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: rgb(29, 161, 242);
  font-weight: bold;
  color: white;
  margin-top: 15px;
  
}

.projects-section .project button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.projects-section .project button a {
  color: white;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Interests-Section */
.interests-section{ 
  color: white;
  height: auto;
  text-align:center;
  background-image: url(../photos/Football-tackle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 80px 0 100px 0;
  margin-bottom: 70px;
}
.interests-section h1{
 padding-top: 100px;
 font-size: 28px; 
}
.interests-section .interest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  flex-wrap: wrap;
  gap: 150px;
  padding: 40px 20px;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}
.interests-section .interest .interest-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.interests-section .interest .fa-bowl-food,
.interests-section .interest .fa-globe,
.interests-section .interest .fa-terminal,
.interests-section .interest .fa-futbol {
  background-color: white;
  color:  rgb(29, 161, 242);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 50px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.interests-section .interest .fa-bowl-food:hover,
.interests-section .interest .fa-terminal:hover,
.interests-section .interest .fa-globe:hover ,
.interests-section .interest .fa-futbol:hover {
  cursor: pointer;
  background-color: rgb(29, 161, 242);
  color:  white;
}
.interest-name {
  font-size: 22px;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* Languages-Section */
.Languages-section {
  margin-bottom: 60px;
}
.languages-div {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.Languages-section h1 {
  text-align: center;
  padding-bottom: 20px;
}
.Languages-section .languages-div{
  padding-left: 20px;
}
.Languages-section .language,
  .Languages-section .language,
.Languages-section .language{
  display: flex;
  padding: 10px 15px;
  align-items: center;
  border: 3px solid rgb(224, 224, 224);
  width: 270px;
  gap : 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  justify-content: space-between;
  transition: 0.3s;
}
.Languages-section .language:hover,
.Languages-section .language:hover,
.Languages-section .language:hover{
  cursor: pointer;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-color: rgb(29, 161, 242);
}
.language img {
  border-radius: 4px; 
}
.language {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
}
.lan-left{
  display: flex;
  gap: 5px;
}
.lan-right p {
  font-size: 14px;
  color: gray;
}
/* --------------------------------------------------------------------------------------------------------------- */
/* Contact-Section */
.contact-section{
  padding: 10px;
  margin-bottom: 75px;
  justify-content:center;
}
.contact-section h2{
  text-align: center;
  display: block;
}
.platforms-apps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.platform {
  animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.platform a img{
  width: 60px;
  border-radius: 5px;
  object-fit: contain;
  object-position: center;
  transition: 0.3s; 
}
.platform  a img:hover {
  width: 70px;
}
/* --------------------------------------------------------------------------------------------------------------- */
/*Footer Section*/
.footer-section{
  background-color: black;
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  
}
.text-left, .text-right{
  flex-wrap: wrap;
  display: inline-flex;
  gap: 10px;
  font-size: large;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
}
/* --------------------------------------------------------------------------------------------------------------- */
@media (max-width: 600px ){
  /* Navbar */
nav{
  padding: 0 20px;
}
/* SECTION 1: Hero */
.hero-section {
    padding: 0 20px;
}
.hero-section .text h2 {
    font-size: 30px;
}
/* SECTION 2: Skills */
.skills-section {
    padding: 0 20px;
}
.skills-section .cells .cell span{
  font: 16px;
}
/* SECTION 6: Intrests */
  .interests-section .interest {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
.interests-section .interest .interest-div {
    text-align: center;
  
  }
.interests-section .interest .fa-bowl-food,
.interests-section .interest .fa-futbol,
.interests-section .interest .fa-terminal,
.interests-section .interest .fa-globe {
  width: 80px;
  height: 80px;
  font-size: 36px;
  margin-top: 20px;
  }
.interest-name {
  font-size: 18px;
  }

.interests-section h1 {
  font-size: 30px;
  padding-top: 60px;
  }

/* SECTION 6: Languages */
  .languages-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
/* SECTION 7: Contact */
  .contact-section{
    padding: 0 20px;
}
  .platforms-apps {
  font: 16px;
}
}
/*----------------------------------------------------------------------------*/
@media (max-width: 759px ){
  /* SECTION 2: About me */
  .about-section .text {
    order: 2;
  }
  .about-section .image {
    order: 1;
  }
  /* SECTION 5: projects */
  .projects-section .project-container{
    grid-template-columns: 1fr ; 
    justify-items: center;    
  }
  .projects-section .project{
    grid-template-columns: 1fr; 
    text-align: center;
    width: 430px;
    margin: 10px;
  }
}

@media (max-width: 841px) {
  .Experiences-section .Experiences-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Experiences-section .BA-degree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    padding: 20px;
    text-align: center;
  }

  .Experiences-section .image-education {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    order: 1;
  }

  .Experiences-section .image-education img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .Experiences-section .text-education {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    order: 2;
  }

  .footer-section{
    flex-direction: column;
    align-items: center;
    gap: 5px; 
  }

  .text-left, .text-right{
    height: 50%;
    max-width: 300px;
  }
}
